{
  "env": { "commonjs": true, "es6": true, "mocha": true },
  "extends": ["eslint:recommended"],
  "globals": {
    "describeModule": false,
    "describeCall": false,
    "describeCombinator": false,
    "describeTest": false,
    "itReadsString": false,
    "itReadsChar": false,
    "itReadsTheNumber": false,
    "itEndsAtPosition": false,
    "itErrors": false,
    "describeInput": false,
    "describeReadInput": false,
    "describeSyntax": false,
    "describeForm": false,
    "describePrintInput": false,
    "itReadsTheString": false,
    "itCompilesTo": false
  },
  "rules": { "no-console": 0 }
}
